<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h1>用户登录</h1>
<form method="post" action="http://localhost:12000/api/user/doLogin">
    用户名 : <label>
    <input name="uname" type="text">
</label> <br>
    密码: <label>
    <input name="passwd" type="text">
</label> <br>
    验证码: <label>
        <input name="code" type="text">
    </label> <img src="http://localhost:12000/api/user/vc.jpg" alt="vc"><br>
    <input type="submit" value="登录">
</form>
<h3>
</h3>
</body>
</html>